html{
	padding-left: 5%;
	padding-right: 5%;
}
#peamenyy{
	height: 5%;
}
#header{
	overflow: hidden;
}
#sisu{
	float:left;
}
#ringkonnadiv, #erakonnadiv, #nimekirjadiv {
	float: left;
	width: 180pt;
	margin: 10pt;
}
#ringkonnasisestus, #ringkond, #erakonnasisestus, #erakond, #nimesisestus, #nimi{
	width: 100%;
	margin: 1pt;
}
#valimisabi{
	margin-top: 25%;
}
#peamenyy a{
	padding:4pt 4pt;
	margin-left: 1pt;
	background-color: #6666dd;
	border-color: #000000;
	border-radius:2pt;
	color: #ffffff;
	letter-spacing: 1pt;
	text-decoration: none;
	float:left;
}
#peamenyy .aktiivne{
	background-color: #dd6666;
}
#peamenyy :hover{
	background-color: #dd6666;
}
