body{
	padding-left: 2%;
	padding-right: 2%;
}
#peamenyy{
	height: 5%;
}
#header{
	overflow: hidden;
}
#sisu{
	margin:2%;
	float:left;
}
#ringkonnadiv, #erakonnadiv, #nimekirjadiv {
	float: left;
	width: 180px;
	margin: 10pt;
}
#ringkonnasisestus, #ringkond, #erakonnasisestus, 
#erakond, #nimesisestus, #nimi{
	width: 100%;
	margin: 1pt;
}
#valimisabi{
	margin-top: 25%;
}
#peamenyy{
	max-width: 800pt;
}
#peamenyy a{
	padding:4pt 4pt;
	margin-left: 1pt;
	background-color: #6666dd;
	border-color: #000000;
	border-radius:2pt;
	color: #ffffff;
	letter-spacing: 1pt;
	text-decoration: none;
	float:left;
}
#peamenyy .aktiivne{
	background-color: #dd6666;
}
#peamenyy :hover{
	background-color: #dd6666;
}
#loginid, #logingoogle, #kandideerinupp, 
#otsikandidaati, #loginid, #logingoogle{	
	padding:4pt 4pt;
	margin: 10pt;
	background-color: #6666dd;
	border-color: #000000;
	border-radius:2pt;
	color: #ffffff;
	letter-spacing: 1pt;
	text-decoration: none;
	float:left;
}
#loginid, #logingoogle{
	margin: 5pt;
}
#kandideerinupp{
	margin-top: 23%;
}
#otsikandidaati{
	margin-top: 10%;
}
table, th, td{
	border: 1px solid black;
}
th{
	background-color: #CCC;
}
tr.d0 td {
	background-color: #EEE;
}
tr.d1 td {
	background-color: #FFF;
}
#piirkonnatulemdiv, #reaalajasdiv,
#erakonnatulemdiv, #kandidaaditulemdiv {
	margin-right:5%;
	float:left;
}
#kandideerinupp:hover {
	background-color: #dd6666;
}
#login{
	float: right !important;
}
#logimine{
	margin: 20%;
	padding: 4pt;	
}
#loginid, #logingoogle{
	margin: 5pt;
}
#loginnupp:hover {
	background-color: #dd6666;
}