@charset "utf-8";
/* CSS Document */
.sorting{
	padding-right:15px;
	background: url(../img/bg.gif) no-repeat center right #88DDFF;
}
.sorting_asc {
	
	padding-right:15px;
    background: url(../img/asc.gif) no-repeat center right;
    background-color: #3399FF; 
} 
.sorting_desc { 
	
	padding-right:15px;
    background: url(../img/desc.gif) no-repeat center right; 
    background-color: #3399FF; 
} 
#tulemusedkandidaadid td:nth-child(2){
	text-align: center;
}
