@charset "utf-8";
/* CSS Document */
th.header{
	background-image: url(../img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
th.headerSortUp { 
    background-image: url(../img/asc.gif);
    background-color: #3399FF; 
	background-repeat: no-repeat;
	background-position: center right;
} 
th.headerSortDown { 
    background-image: url(../img/desc.gif); 
    background-color: #3399FF; 
	
	background-repeat: no-repeat;
	background-position: center right;
} 
#tulemusedkandidaadid th{
	width: 150px;
}
#tulemusedkandidaadid td:nth-child(2){
	text-align: center;
}
#tulemustetabel th:nth-child(2){
	width: 150px;
}
#tulemustetabel td:nth-child(2){
	text-align: center;
}